/* MOBILE DISPLAY */
@media screen and (max-width: 800px) {

  .column {
    flex: 100%;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    grid-template-areas:
      "logo"
      "abt-btn"
      "abt"
      "media-btn"
      "media"
      "archive-btn"
      "archive"
  }

  .logo {
    grid-area: logo;
  }

  .abt-btn {
    grid-area: abt-btn;
  }

  .media-btn {
    grid-area: media-btn;
  }

  .archive-btn {
    grid-area: archive-btn;
  }

  .abt {
    grid-area: abt;
  }

  .media {
    grid-area: media;
  }

  .archive {
    grid-area: archive;
  }

}

/* TABLET/LAPTOP DISPLAY */
@media screen and (min-device-width: 1200px) 
   {
    .row {
      display: flex;
      flex-direction: row;
    }
    
    .column {
      flex: 50%;
    }
  }
